[workspace]
channels = ["conda-forge"]
name = "pixitainer"
platforms = ["linux-64"]
version = "0.1.0"

[tasks.containerize]
cmd = "python -s pixi-containerize.py"

[dependencies]
apptainer = ">=1.4.5,<2"
python = ">=3.11,<3.12"
