[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"]
preview = ["pixi-build"]

[tasks.publish]
cmd = "pixi upload prefix --channel raphaelribes output/noarch/*.conda --force"
description = "Publish the built pixitainer package to the raphaelribes channel."

[package.build.backend]
name = "pixi-build-rattler-build"
version = ">=0.3.7"

[target.linux.dependencies]
pixitainer.path = "."