[workspace]
channels = ["conda-forge"]
name = "pixitainer"
platforms = ["linux-64", "linux-aarch64", "linux-ppc64le"]
version = "0.3.0"

[tasks]
hello = "echo 'Hello, Pixitainer!'"

[tasks.build_all]
depends-on = [
    { task = "_build", args = ["linux-64"] },
    { task = "_build", args = ["linux-aarch64"] },
    { task = "_build", args = ["linux-ppc64le"] }
]

[tasks._build]
args = ["platform"]
cmd = "rattler-build build --recipe recipe.yaml --target-platform {{ platform }} --output-dir $(pwd -P)/output"

[tasks.publish]
cmd = "pixi upload prefix --channel raphaelribes output/noarch/*.conda --force"


[dependencies]
rattler-build = "*"