[workspace]
channels = ["conda-forge"]
name = "pixitainer"
platforms = ["linux-64"]
version = "0.2.2"

[tasks]
containerize = "python -s pixi-containerize.py $@"
hello = "echo 'Hello, Pixitainer!'"

[dependencies]
apptainer = ">=1.4.5,<2"
python = ">=3.11,<3.12"
