[workspace]
channels = ["conda-forge"]
name = "pixitainer"
platforms = ["linux-64", "linux-aarch64", "linux-ppc64le"]
version = "0.3.2"

[tasks]
hello = "echo 'Hello, Pixitainer!'"

[tasks.build]
cmd = "rattler-build build --recipe recipe.yaml --output-dir $(pwd -P)/output"

[tasks.publish]
cmd = "pixi upload prefix --channel raphaelribes output/noarch/*.conda --force"


[dependencies]
rattler-build = "*"